peft
accelerate
aiohappyeyeballs
aiohttp
aiosignal
attrs
certifi
charset-normalizer
colorama
datasets
dill
evaluate
filelock
frozenlist
fsspec
huggingface-hub
idna
Jinja2
joblib
MarkupSafe
mpmath
multidict
multiprocess
networkx
numpy
packaging
pandas
pillow
propcache
protobuf
psutil
pyarrow
python-dateutil
pytz
PyYAML
regex
requests
safetensors
scikit-learn
scipy
sentencepiece
six
sympy
threadpoolctl
tiktoken
tokenizers
tqdm
transformers
typing_extensions
tzdata
urllib3
xxhash
yarl
